{% extends 'base.html' %}
{% load static %}

{% block header %}
    <h1>UNA Blog</h1>
    <a class="btn btn-success pull-right" href="{% url 'blog:add' %}" id="add_blog">Add Blog Entry</a>
{% endblock %}

{% block container %}
    <div id="blog">
        {% include 'blog/list.html' with blogs=blogs %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'blog/js/scripts.js' %}"></script>
{% endblock %}
