{% for blog in blogs %}
<div class="blog-entry">
    <h2>{{ blog.title }}</h2>
    <p>{{ blog.content }}</p>
    <span>{{ blog.created }}</span>
    <div class="controls pull-right">
        <a class="btn btn-primary btn-sm edit-blog" href="{% url 'blog:update' blog.pk %}">Edit</a>
        <a class="btn btn-danger btn-sm delete-blog" href="{% url 'blog:delete' blog.pk %}" role="button">Delete</a>
    </div>
</div>
<div class="clearfix"></div>
<hr/>
{% endfor %}
