{% load crispy_forms_tags %}
<div class="modal fade" id="blog_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>

            <div class="row">
                <div class="col-sm-10 col-sm-push-1">
                    <form action="{% url 'blog:update' blog.pk %}" id="blog_form_add" method="post" class="form-horizontal">
                        <div class="modal-body">
                            {% crispy form %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
