
<div class="modal fade bs-example-modal-lg" id="blog_modal_delete" tabindex="-1" role="dialog" aria-labelledby="blog_modal_delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete blog entry</h4>
            </div>
            <form action="{% url 'blog:delete' blog.pk %}" method="post" id="blog_form_delete" >
                {% csrf_token %}
                <div class="modal-body">
                    <p>Are you sure you want to delete "{{ blog.title }}" blog entry?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
