{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Una Blog</title>
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/bootstrap-theme.min.css' %}" rel="stylesheet">
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% block header %}{% endblock %}
            </div>
        </div>
    </div>

</header>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <br/><br/>
            <div id="messages"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% block container %}
            {% endblock %}
        </div>
    </div>
</div>

<footer>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
<script src="{% static 'core/js/ajax-bootstrap-form.js' %}"></script>
<script src="{% static 'core/js/ajax-bootstrap-link.js' %}"></script>
{% block script %}{% endblock %}

</body>
</html>
